# Xcode
.DS_Store
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
profile
*.moved-aside
DerivedData
.idea/

# Android and Eclipse
yamiHikariGame/proj.android/assets/
yamiHikariGame/proj.android/obj/
yamiHikariGame/proj.android/local.properties
yamiHikariGame/proj.android/.classpath
yamiHikariGame/proj.android/.cproject
yamiHikariGame/proj.android/.project
yamiHikariGame/proj.android/.settings/
yamiHikariGame/proj.android/bin/
yamiHikariGame/proj.android/gen/
yamiHikariGame/proj.android/libs/*
!yamiHikariGame/proj.android/libs/*.jar

