<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>desc_ja</key>
		<string>ちょっとひかっている。まだがんばれそうなきがする。</string>
		<key>image</key>
		<string>tikuwa.png</string>
		<key>name_ja</key>
		<string>いいちくわ</string>
		<key>score</key>
		<integer>100</integer>
		<key>stamina</key>
		<integer>10</integer>
	</dict>
	<dict>
		<key>desc_ja</key>
		<string>なにかよいものがはいってそうなハコ。</string>
		<key>image</key>
		<string>treasurebox01.png</string>
		<key>name_ja</key>
		<string>たからばこ</string>
		<key>score</key>
		<integer>500</integer>
		<key>stamina</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>desc_ja</key>
		<string>スタミナをかいふくしたりガチャをひけるふしぎなアイテム。コンティニューはできない。</string>
		<key>image</key>
		<string>magicstone01.png</string>
		<key>name_ja</key>
		<string>マホウセキ</string>
		<key>score</key>
		<integer>300</integer>
		<key>stamina</key>
		<integer>30</integer>
	</dict>
	<dict>
		<key>desc_ja</key>
		<string>ふだんはムガイだが、ふむとあぶない</string>
		<key>image</key>
		<string>snake01.png</string>
		<key>name_ja</key>
		<string>ヘビ</string>
		<key>score</key>
		<integer>100</integer>
		<key>stamina</key>
		<integer>-50</integer>
	</dict>
</array>
</plist>
