<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>むねん</string>
	<string>やられた</string>
	<string>もうダメだ</string>
	<string>おかしい</string>
	<string>つかれた</string>
	<string>どういうことなの</string>
	<string>えー</string>
	<string>こんなはずでは</string>
	<string>いやいや</string>
	<string>ばたり</string>
	<string>いたい</string>
	<string>もううごけない</string>
	<string>ここまできたのに</string>
	<string>にゃーん</string>
	<string>もうちょっと</string>
	<string>しんだふり</string>
	<string>ネバー ギブ アップ</string>
	<string>ちーん</string>
	<string>おはながみえる</string>
	<string>あ ちょうちょ</string>
	<string>あ おじいちゃん</string>
	<string>あ おばあちゃん</string>
	<string>もう たべられない</string>
	<string>あかりがみえる</string>
	<string>なんだこりゃ</string>
	<string>あったかい</string>
	<string>もう ねむい</string>
	<string>あと ごふん</string>
	<string>zzz...</string>
	<string>むにゃむにゃ</string>
	<string>しびれた</string>
	<string>フラグたてちゃった</string>
	<string>ふかふかだぁ</string>
	<string>みちまちがえた</string>
	<string>まよった</string>
	<string>あそこでまちがえなければ</string>
	<string>たからもの に めがくらんだ</string>
	<string>ゆだんした</string>
	<string>よりみちさえしなければ</string>
	<string>あしをくじいた</string>
	<string>こけた</string>
	<string>おなかすいた</string>
</array>
</plist>
