# このファイルは、local.properties のテンプレートです。
# local.properties へコピーし、
# 環境依存のパスを設定するために使用してください。
#
# local.properties は、Eclipseを使用している場合に
# Android Toolsにより再作成されることがあります。
# 

# 以下の設定は、Antにより使用されます。
sdk.dir=
ndk.dir=
cocos2dx.dir=

# reference(必ず 相対パス)
android.library.reference.1=
